@media only screen and (min-width: 601px) {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
  }
  .submit {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .submit a {
    color: #9D9D9D;
    text-decoration: underline;
    margin-right: 0;
  }
  .submit a:hover {
    color: #808080;
  }
  .btn.submit-register {
    width: 33%;
    border-radius: 20px;
    background: #111111;
    color: #FAFAFA;
    font-weight: 700;
    transition: all 0.5s;
    font-size: 80%;
  }
  button.btn.submit-register:hover {
    background: #323232;
  }
  form.form {
    overflow: hidden;
  }
  form.form.login {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  form.form .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  form.form .input-field {
    height: 31px;
    padding-right: 40px;
    margin-left: 20px !important;
  }
  .icons {
    text-align: center;
  }
  .icons i {
    width: 25px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .icons i:hover {
    color: #9C9C9C;
  }
  .content {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fefcfcf2;
  }
  .content p {
    font-size: 20px;
    margin-top: -15px;
  }
  .content h2 {
    font-size: 2rem;
  }
  small.title {
    font-size: 85%;
    width: 100%;
  }
  .brg-left, .register-container {
    height: 100%;
  }
  .brg-left {
    background: #383838;
    border-radius: 5px 0px 0px 5px;
    color: white;
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9E9E9;
  }
  .register {
    width: 60%;
    height: 70%;
    background: #FAFAFA;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px lightblue;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) and (min-width: 0px) {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
  }
  form.form {
    padding: 36px !important;
  }
  small.title {
    position: absolute;
    left: 45px;
    top: 17px;
  }
  .register {
    width: 100%;
  }
  .icons i {
    width: 30px;
    padding: 12px;
    font-size: 17px;
  }
  .content p {
    margin-top: -15px;
  }
  .brg-left {
    background: #383838;
    color: white;
    text-align: center;
    padding: 10px !important;
  }
  .submit {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .submit a {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
  }
  .btn.submit-register {
    display: block;
    width: 100%;
    background: #111111;
    font-weight: 700;
  }
}