<div class="brg-left col s12 m6 l6 xl6">
  <small class="title">SETA TEST NODEJS</small>
  <div class="content">
    <h2>Welcome to SETA TEST.</h2>
    <p>Are you ready to join the SETA TEST ?</p>
  </div>
  <div class="icons">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
  </div>
</div>